<header>RVSTIQ</header>
<div id="contact_information">
  <div id="phone_number"><%= @phone_number %></div>
  <div id="email_address"><%= @email_address %></div>
</div>

<div id="construction_images">
  <% @jobs.each do |job| %>
    <% job.photos.each do |photo| %>
      <div>
        <%= image_tag photo.image %>
      </div>
    <% end %>
  <% end %>
  <%= image_tag 'bookshelf_under_bed.png' %>
</div>

<div id="business">
  <div id="introduction">
    We build high-quality loft beds, shelves, furniture, cabinets, and more for customers in Manhattan and Brooklyn.
  </div>
  
  <div id="pricing">
    When you're ready to begin your project, James will visit and examine the space, then give you an estimate on the spot.  Most jobs start around $1000, and upgrades are available for higher quality materials and additional fixtures.
  </div>
  
  <div id="process">
    Installation takes a few hours and then you can tell your friends to come by and see how RVSTIQ your home is!
  </div>
</div>
